@font-face{
    font-family: "Roboto";
    src: url(/assets/Roboto/Roboto-VariableFont_wdth\,wght.woff2) format("woff2"),
         url(/assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-blue: #1992d4;
    --background-white: #FFFFFF;
    --background-grey: #e2e8f0;
}

body{
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.parent-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

.sidebar{
    background-color: var(--sidebar-blue);
    color: white;
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.sidebar div svg{
    fill: white;
}

.sidebar-content, .sidebar-content-header{
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.sidebar-content{
    padding: 10px 0 0 25px;
}

.sidebar-content p{
    padding: 8px;
}

.header{
    background-color: var(--white);

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.content{
    background-color: var(--background-grey);
}