@font-face{
    font-family: "Roboto";
    src: url(/assets/Roboto/Roboto-VariableFont_wdth\,wght.woff2) format("woff2"),
         url(/assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format("truetype");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-blue: #1992d4;
    --background-white: #FFFFFF;
    --background-grey: #e2e8f0;
}

body{
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.parent-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    min-height: 100vh;
}

.sidebar{
    background-color: var(--sidebar-blue);
    color: white;
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.sidebar div svg{
    fill: white;
}

.sidebar-content, .sidebar-content-header{
    display: flex;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.sidebar-content{
    padding: 10px 0 0 25px;
}

.sidebar-content p{
    padding: 8px;
}

.header{
    background-color: var(--white);

    display: grid;
    grid-template-rows: 0.5fr 2fr;
    padding-right: 3rem;
}

.header-section-1{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.header-section-searchbar{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section-1 > div input, .header-section-1 > div input:active{
    border-radius: 12px;
    border: none;
    background-color: var(--background-grey);
    height: 1.3rem;
    flex: 1;
    margin-right: 20px;
}

.header-section-1 > .header-section-searchbar svg{
    flex: 0 0 auto;
    margin: 12px;
}

.header-section-1-right{
    display: flex;
    flex: 2;
    justify-content: end;
    align-items: center;
}

.header-section-1-right *{
    margin: 0 8px 0 8px;
}

.header-section-1-right img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.header-section-1-right p{
    font-weight: bold;
}

.header-section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-section-2-left{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;
}

.header-section-2-left > img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    grid-row: span 2;
}

.header-section-2-left p{
    font-weight: bold;
}

.header-section-2-left > p:first-of-type{
    font-size: 0.7rem;
    padding-top: 1rem;
}

.header-section-2-left p{
    padding-left: 1rem;
}

.header-section-2-right{
    padding: 0px 8px;
}

.header-section-2-right *{
    margin: 0px 8px;
    padding: 4px 8px;
    border-radius: 20px;
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: var(--sidebar-blue);
    color: white;
}

.content{
    background-color: var(--background-grey);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.projects{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
}

.projects > p{
    font-weight: bold;
    padding: 1rem 0 0 1rem;
    flex: 0 0 auto;
}

.card-container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 1rem;
    margin: 1.5rem;
}

.card{
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1),
    -6px 0px 0px #f0b429;
    padding: 1rem;
    margin: 0px 0.2rem;
}

.card h3{
    font-size: 1rem;
}

.card p{
    font-size: 0.75rem;
    color: rgb(112, 112, 112);
}

.card .icons{
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.card p{
    flex: 1;
    padding: 1rem 0 1rem 0;
}

.card svg{
    height: 1.25rem;
    width: 1.25rem;
}

.announcements > p{
    font-weight: bold;
    padding: 1rem 0 0 1rem;
}

.announcement-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-white);
    padding: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.announcement-card p{
    font-size: 0.6rem;
    color: rgb(112, 112, 112);
}

.announcement-card h3{
    margin: 0.2rem 0;
}

.announcement-card hr{
    margin: 0.8rem 0;
    color: rgb(112, 112, 112);
}

.trending > p{
    font-weight: bold;
    padding: 1rem 0 0 1rem;
}

.trending-card{
    background-color: var(--background-white);
    border-radius: 8px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1.5rem;
    padding: 1rem 1rem 1rem 0;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.trending-card img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    justify-self: center;
}

.trending-card p{
    font-size: 0.75rem;
    color: rgb(112, 112, 112);
}

.trending-card .social-handle{
    color: black;
}